.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*COLOR CHANGER*/
/*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
.loader{
    filter:hue-rotate(0deg);
    color: linear-gradient(45deg,#0f8,#08f);
    animation:hue 5000ms infinite linear;
  }
  
  @keyframes spinify {
    0% {
      transform: translate(0px,0px);
  
    }
    33% {
      transform: translate(0px,24px);
      border-radius:100%;
      width:10px;
      height:10px;
  
    }
     66% {
      transform:translate(0px,-16px);
    }
  
     88% {
      transform:translate(0px,4px);
  
    }
    100% {
      transform:translate(0px,0px);
    }
  }
  @keyframes hue{
    0%{filter: hue-rotate(0deg);}
    100%{filter:hue-rotate(360deg);}
  
  }