.rambling {
    margin-bottom: 1.5rem;
}

.bitch {
    color: #79ADDC;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.cv h3 {
    margin: 1.5rem 0;
    text-align: center;
}

.cv div {
    margin-bottom: 20px;
}

.cv h4 {
    margin-bottom: 10px;
}

.contact-info {
    text-align: center;
    margin-bottom: 10px;
}

.contact-info a {
    margin-right: 10px;
}

.contact-info a:last-of-type {
    margin-right: 0;
}

.contact-info a:hover {
    color: #79ADDC;
}

i {
    font-size: 1.5rem;
}


ul {
    margin-top: 0;
}
